# Ignorar las siguientes carpetas

wp-admin
wp-includes
wp-content/languages
wp-content/upgrade
wp-content/uploads
wp-content/plugins/advanced-custom-fields
wp-content/plugins/akismet
wp-content/plugins/contact-form-7
wp-content/plugins/leaflet-map
wp-content/plugins/regenerate-thumbnails
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentythree
wp-content/themes/twentytwentytwo

# Ignorar los siguientes archivos
hello.php
/index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-settings.php
wp-signup.php
wp-mail.php
wp-trackback.php
xmlrpc.php
readme.html
license.txt
.htaccess




